* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-principal: #fff9ec;
    --color-contraste: #645e4e;
    --color-claro: #b2ab99;
    --color_footer: #a1c9c1;
    --color-claro-azul: #d8fff9;
}

main {
    text-align: center;
}

#nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-principal);
}

#nosotros-text {
    flex-grow: 1;
}

footer {
    background-color: var(--color_footer);
    padding: 2rem;
}

.caja {
    background-color: var(--color-claro-azul);
    white-space: nowrap;
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#iconos {
    padding: 1rem;
    align-items: center;
}

#iconos img {
    white-space: nowrap;
    display: inline-block;
    margin-right: 2rem;
}