:root{
    --color_footer: #A1C9C1;

}

*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:0;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} 
footer{
   background-color: var(--color_footer);
    padding: 2rem;
}


.caja{
    background-color: #D8FFF9;
    white-space: nowrap;
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#iconos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconos img{
    white-space: nowrap;
    display: inline-block;
    margin-right: 2%;
}


