

:root {
  /*========== Colores ==========*/
  --color-principal: #fff9ec;
  --color-contraste: #645e4e;
  --color-contraste-transparente: rgb(100, 94, 78, 0.9);
  --color-claro: #b2ab99;
  --color_footer: #a1c9c1;
  --color-claro-azul: #d8fff9;
}

*{

  font-optical-sizing: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--color-principal);
} 

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;    /*elimina el scroll del eje x*/
}

/* ================ header ================ */


.navbar{
  margin: 0;
  padding: 0;
}

.collapse,
.nav-link,
.navbar,
.nav-bg,
.icons,
.icon,
#navbar-bg{
  background-color:rgb(0, 0, 0, 0);
}


/* ================ FOOTER ================ */

  footer{
     background-color: var(--color_footer);
      padding: 2rem;
      width: 100%;
  }

  .footer-bg,
  .icon-footer,
  #iconos{
    background-color: var(--color_footer);
    margin: 0rem 1rem;
  }
  
  .caja{
    background-color: var(--color-claro-azul);
    white-space: nowrap;
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
   }
  
  #iconos{
    padding: 1rem;   
    align-items: center;
    
   }
  
  #iconos img{
    white-space: nowrap;
    display: inline-block;
    margin-right: 2rem;
  }

  #foot{
    display: flex;
    justify-content: space-between;
    background-color: var(--color_footer);
  }

  #footer-content{
    background-color: var(--color_footer);
  }

/* ============================================= */
/* ============ page sobre nosotros ============ */
/* ============================================= */

#nosotros {
  display: flex;
  flex-wrap: nowrap;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: var(--color-principal);
  height: 600px;
}


#nosotros > .contenedor_imagen_nosotros {
  width: 50%;
  height: 550px;
}

.contenedor_imagen_nosotros img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#contenedor_vision {
  height: auto;
}


a {
  text-decoration: none;
}



/*=============== CARD ===============*/

/* .container {
  background-color: #645e4e;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%; 
} */

.card__container {
  width: 100%;
  height: 440px;
  margin-bottom: 0;
  /* margin-bottom: 10px; */
}

.card__container > .card__content {
  /* margin-inline: 1.75rem; */
  border-radius: 1.25rem;
  overflow: hidden;
  /* border: 3px solid  rgb(241, 205, 5); */
  height: 400px;
}

.card__content > .card__article {
  background-color: #0f0f0f;
  border-radius: 1.25rem;
  /* overflow: hidden; */
  height: 400px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.19),
  -5px -5px 5px rgba(255, 255, 255, 0.2),
  2px 2px 2px rgba(0, 0, 0, 0.08) inset;
  border: 3px solid  rgba(255, 255, 255, 0.3);
}

.card__article > .card__image {
  position: relative;
  /* background-color: #70b741; */
  padding-top: 0.4rem;
  height: 400px;
  border-radius: 1.25rem;
}

.card__image > .card__img {
  width: 95%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  height: 95%;
  object-fit: cover;
  border-radius: 1.25rem;
}

.card__rol {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
  background-color: var(--color-claro-azul);
  padding: .25rem .75rem;
  border-radius: 1rem;
  color: black;
  font-weight: 500;
  z-index: 10;
  margin: .75rem;

}



.card__data {
  opacity: 0;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
  top: -25.00rem;
}

.card__data p{
  background-color: var(--color-contraste);
}

.card__name{
  background-color: var(--color-contraste);
}


/* Hover */


.card__article:hover > .card__data {
  opacity: 1;
  background-color: var(--color-contraste);
  height: 390px;
  color: white;
  cursor: pointer;
  display: block;
  transition: all 0.5s;
  z-index: 10;
  border-radius: 1.25rem;
  padding: 1.5rem 2rem;
  position: relative;
  height: 400px;
}

.card__article :hover > .card__img {
  transform: scale(1.1);
  transition: all 0.5s;
  border-radius: 1.25rem;

}


.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--color-claro-azul);
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: var(--color-contraste);
  font-weight: 600;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(224, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}


/* ==========================================
============ page contactanos ============
========================================== */
.contenedor_principal_contactanos{
  background-color: #FFF9EC;
}


.formContactanos{
  margin-top: 70px;
}


.btn_formulario_contactanos{
  color: white;
  background-color: #B2AB99;
}


/*=============== banner ===============*/
.banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#description{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 0px 3px blue;
}

.banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem 2rem;
  box-shadow: 0px 0px 0px 3px red;
}

ul{
  list-style: none;
  padding: 0;
}

main li{
  display: block;
  margin-top: 10px;
  color: var(--color-contraste);
  font-size: x-large;
}

main li a.active{
  font-weight: bold;
  font-size: xx-large;
  color: var(--color-contraste);
}

main a{
  color: inherit;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.banner-pdt{
  margin: 0.5rem 3rem;
  padding: 1rem;
  box-shadow: 0px 0px 0px 2px var(--color-contraste);
  border: none;
  border-radius: 0rem;
}

#buy{
  background-color: var(--color-contraste);
  color: var(--color-principal);
}

.slider{
  color: var(--color-contraste);
  grid-template-columns: 35% 65%;
  position: relative;
  display: grid;
}

.slider .content_container{
  padding: 40px;
}

.slider .slides{
  overflow-y: auto;
  scrollbar-width: none;
}

.slider .slides .slide{
  min-height: calc(100%);
  
  width: 100%;
  position: relative;
  z-index: 5;
  height: 95%;
}

.img-banner{
  max-height: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  height: 95%;
  object-fit: cover;
}


/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}




